In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns
import plotly.express as px

In [10]:
file_path = "../Data/cleaned_blood_type_distribution_by_country.csv"
df = pd.read_csv(file_path)

df.head()

,Country/Dependency,Population,O+,A+,B+,AB+,O-,A-,B-,AB-
0,Albania,"3,074,579",34.10%,31.20%,14.50%,5.20%,6.00%,5.50%,2.60%,0.90%
1,Algeria,"43,576,691",40.00%,30.00%,15.00%,4.25%,6.60%,2.30%,1.10%,0.75%
2,Argentina,"45,479,118",50.34%,31.09%,8.20%,2.16%,4.29%,2.98%,0.74%,0.20%
3,Armenia,"3,021,324",29.00%,46.30%,12.00%,5.60%,2.00%,3.70%,1.00%,0.40%
4,Australia,"25,466,459",38.00%,32.00%,12.00%,4.00%,7.00%,6.00%,2.00%,1.00%

In [11]:
df.columns = df.columns.str.strip().str.replace(' ', '_')
df.rename(columns = {'Country/Dependency':'Country'}, inplace = True)
df.head()

,Country,Population,O+,A+,B+,AB+,O-,A-,B-,AB-
0,Albania,"3,074,579",34.10%,31.20%,14.50%,5.20%,6.00%,5.50%,2.60%,0.90%
1,Algeria,"43,576,691",40.00%,30.00%,15.00%,4.25%,6.60%,2.30%,1.10%,0.75%
2,Argentina,"45,479,118",50.34%,31.09%,8.20%,2.16%,4.29%,2.98%,0.74%,0.20%
3,Armenia,"3,021,324",29.00%,46.30%,12.00%,5.60%,2.00%,3.70%,1.00%,0.40%
4,Australia,"25,466,459",38.00%,32.00%,12.00%,4.00%,7.00%,6.00%,2.00%,1.00%

In [12]:
df['Population'] = df['Population'].str.replace(',', '').astype(float)
df.head()

,Country,Population,O+,A+,B+,AB+,O-,A-,B-,AB-
0,Albania,3074579.0,34.10%,31.20%,14.50%,5.20%,6.00%,5.50%,2.60%,0.90%
1,Algeria,43576691.0,40.00%,30.00%,15.00%,4.25%,6.60%,2.30%,1.10%,0.75%
2,Argentina,45479118.0,50.34%,31.09%,8.20%,2.16%,4.29%,2.98%,0.74%,0.20%
3,Armenia,3021324.0,29.00%,46.30%,12.00%,5.60%,2.00%,3.70%,1.00%,0.40%
4,Australia,25466459.0,38.00%,32.00%,12.00%,4.00%,7.00%,6.00%,2.00%,1.00%

In [13]:
blood_groups = ['A+', 'A-', 'B+', 'B-', 'AB+', 'AB-', 'O+', 'O-']

for col in blood_groups:
    df[col] = df[col].str.replace('%', '').astype(float)
    
df.head()

     Country  Population     O+     A+    B+   AB+    O-    A-    B-   AB-
0    Albania   3074579.0  34.10  31.20  14.5  5.20  6.00  5.50  2.60  0.90
1    Algeria  43576691.0  40.00  30.00  15.0  4.25  6.60  2.30  1.10  0.75
2  Argentina  45479118.0  50.34  31.09   8.2  2.16  4.29  2.98  0.74  0.20
3    Armenia   3021324.0  29.00  46.30  12.0  5.60  2.00  3.70  1.00  0.40
4  Australia  25466459.0  38.00  32.00  12.0  4.00  7.00  6.00  2.00  1.00

In [14]:
print(df.isnull().sum())

Country       0
Population    0
O+            0
A+            0
B+            0
AB+           1
O-            1
A-            1
B-            1
AB-           1
dtype: int64

In [15]:
df.fillna(0, inplace = True)

In [16]:
df.to_csv("../Data/processed_blood_type_data.csv", index = False)